// sass --watch --no-source-map scss/style-front.scss:asset/css/style-front.css
// sass --watch --no-source-map scss:asset/css

@use "../base/index" as ex;

footer {
	position: relative;
	background: var(--footer--background-color);
	color: var(--front--copyright-color);
	// padding-top: 3rem;
	padding-bottom: 1rem;
	// border: 1px solid PINK;
	// padding: 0 45px 45px;
	// z-index: 100;
	h2 {
		position: relative;
		color: var(--front--title-content-color);
		font-size: var(--front--title-size);
		font-family: var(--front--Family-Min);
		// padding-left: 2rem;
		padding: 1rem 0 0 2rem;
		// margin-top: -150px;
		// z-index: 2;
	}
	p {
		text-align: right;
		// text-align: center;
		padding-right: 2rem;
		// text-align: center;
	}
	h4 {
		z-index: 1;
		margin: 0;
		padding: 0;
		margin-top: -30px;
		img {
			opacity: .5;
			filter: invert(100%);
			// width: 200px;
			width: 180px;
		}
	}
	div {
		// border: 1px solid tomato;
		position: absolute;
		bottom: 2.8rem;
		// top: 0px;
		right: 2rem;
		// width: 218px;
		// height: 170px;
		text-align: center;
		// text-align: right;
		z-index: 3;
		svg {
			width: 100px;
			width: 218px;
			width: 120px;
		}
		a {
			position: relative;
			display: block;
			cursor: grab;
			// width: 120px;
			// height: 170px;
		}
	}

}

// #waveCanvas {
// 	max-width: 100vw;
// 	overflow-x: hidden;
// }




// .nav {
// 	position: relative;
// 	font-size: 18px;
// 	margin-left: 1rem;
// 	list-style: none;
// 	line-height: 2;
// 	text-transform: uppercase;
// 	z-index: 2;
// 	a {
// 		text-decoration: none;
// 		color: ex.$col-Fc;

// 		// &:hover, &:active, &:focus {
// 		// color: var(--front--title-content-color);
// 		// transform: scale(1, 1);
// 		// transform-origin: left top;
// 		// }
// 	}
// }

