// sass --watch --no-source-map scss/style-front.scss:asset/css/style-front.css
// sass --watch --no-source-map scss:asset/css

@use "../base/index" as ex;


// body {
// 	margin: 0;
// 	padding: 0;
// 	background: #fff;
// }

.blog-head {
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	position: relative;
}


.brand {
	width: 100%;
	text-align: center;
	position: relative;
	z-index: 1;
	// font-family: 'Noto Serif JP', serif;
	font-family: Georgia, serif;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 1.8rem;
	// padding-top: 2rem;
	// padding-bottom: 2rem;
	h1 {
		font-size: 16px;
		font-size: var(--font-size-large);
		font-size: var(--font-size-base);
		font-size: 2rem;
		font-weight: bold;
	}
	
	// : calc(var(--font-size-default) * 1.25); //20px

	a {
		text-decoration: none;
		color: var(--front--background-color);
		// &:hover {
		// color: #fafafa;
		// text-shadow: #84A0C6 1px 0 8px;
		// }
	}
}

