

// Hexadecimal
// ----------------------------------------------------*/
$cyan: #89B8C2;
$blue: #84A0C6;
$purple: #A093C7;
$green: #B4BE82;
$red: #E27878;
$orange: #E2A478;
$iceBG: #161822;
$crimson: #DC143C;
$bibitB: #3CB3E4;

// /* POPULAR rgba
// ----------------------------------------------------*/
$cyan-9: rgba($cyan,.9);
$blue-9: rgba($blue,.9);
$purple-9: rgba($purple,.9);
$green-9: rgba($green,.9);
$red-9: rgba($red,.9);
$orange-9: rgba($orange,.9);
$iceBG-9: rgba($iceBG,.9);
$bibitB-9: rgba($bibitB,.9);
$crimson-9: rgba($crimson,.9);
$bibitB-hsl: hsla(197,75%,56%,.9);//#3CB3E4;

// /* WP BASE
// ----------------------------------------------------*/
$wp-pink: #e1d2d1;
$wp-baju: #e2dad2;
$wp-yel: #edeade;
$wp-green: #d4e3dd;
$wp-blue: #d3dfe3;
$wp-purple: #d1d1e2;
$wp-ao: #3a414c;
$wp-navy: #29303c;
$wp-default: #d1e4dd;

// /* WHITE
// ----------------------------------------------------*/
$col-F: #fff;
$col-Fa: #fafafa;
$col-Fc: #fcfcfc;
$col-F1: #f1f1f1;
$col-F5: #f5f5f5;
$col-F6: #f6f6f6;


// /* GRAY
// ----------------------------------------------------*/
$gray10: hsl(0,0%,10%);
$gray20: hsl(0,0%,20%);
$gray30: hsl(0,0%,30%);
$gray40: hsl(0,0%,40%);
$gray50: hsl(0,0%,50%);
$gray60: hsl(0,0%,60%);
$gray70: hsl(0,0%,70%);
$gray80: hsl(0,0%,80%);
$gray90: hsl(0,0%,90%);

$col-dd: rgba(221,221,221,1); //#ddd;
$col-aa: rgba(170,170,170,1); //#aaa;
$col-66: rgba(102,102,102,1); //#666;

// rgba($,1);
$col-dd: #ddd;
$col-aa: #aaa;
$col-66: #666;

// /* BLACK
// ----------------------------------------------------*/
$col-00: #000;
$col-12: #121212;
$col-14: #141414;
$col-19: #191919;
$col-22: #222;
$col-24: #242424;
$col-28: #282828;
$col-36: #363636;

$col-B1: #4C678B;
$col-B2: #3D446F;
$col-hart: #96999d;
// $col-hart: rgba(150,153,157,1); //#96999d;

// /* SITE BASE COLOR
// ----------------------------------------------------*/
$text-color: $col-24;
$link-color: $bibitB;
$hover-color: $crimson;
$Bg-color: $col-F;
$footer-Bg-color: $col-14;
// $wlink: #1D6CAB;

// /* Pink
// ----------------------------------------------------*/
// Pink #FFC0CB
// Baby pink #FEC6C5
// Rose Pink #EE8EA0
// Lightpink #FFB6C1

// 御所染 #CFA2AD
// ローズ・プードル #E1ABAE
// #EBBCBF フジコ #f7c8ce #FCBABA

// $bg-col: rgba(#FFB6C1,.9);
// $bg-col: rgba(#EE8EA0,.5);
// $dl-col: rgba(#E4DCDD,.1);
// $dl-col: rgba(#fcfcfc,.4);
// background: #7BB4CF;
// background: #87B9CE;
// background: #8FB8C9;
