
$BasefontFamily: HelveticaNeue-Light,'Helvetica Neue Light',sans-serif;
$fontFamilyJP: 'Noto Sans JP', system-ui, sans-serif;
$fontFamilyMin: 'Noto Serif JP', serif;
$fontFamilyEN:'Verdana', sans-serif;
$fontFamilyOS: 'Open Sans', sans-serif;
$fontFamilyLato: 'Lato', 'Open Sans', sans-serif;
$fontFamilyHelv: HelveticaNeue-Light, "Helvetica Neue Light", sans-serif;
$fontFamilySis: system-ui, sans-serif;

:root {
	--front--Family-Base: HelveticaNeue-Light,'Helvetica Neue Light',sans-serif;
	--font--Family-JP: 'Noto Sans JP', system-ui, sans-serif;
	--front--Family-Min: 'Noto Serif JP', serif;
	--front--Family-EN: 'Verdana', sans-serif;
	--front--Family-OS: 'Open Sans', sans-serif;
	--front--Family-Lato: 'Lato', 'Open Sans', sans-serif;
	--front--Family-Sis: system-ui, sans-serif;
}

// FONT-FAMILY
// HelveticaNeue, Helvetica, HiraginoSans-W3, 游ゴシック, メイリオ, sans-serif
